Resources:
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      MinSize: 1
      MaxSize: 5
      DesiredCapacity: 2
      HealthCheckType: ELB
      HealthCheckGracePeriod: 100

  ScaleUpOnHighCPU:
    Type: AWS::AutoScaling::ScalingPolicy
    Properties:
      AdjustmentType: ChangeInCapacity
      AutoScalingGroupName: { "Ref" : "AWSEBAutoScalingGroup" }
      PolicyType: SimpleScaling
      PolicyName: ScaleUpOnHighCPU
      ScalingAdjustment: 1
      Cooldown: 60
      
  ScaleDownOnLowCPU:
    Type: AWS::AutoScaling::ScalingPolicy
    Properties:
      AdjustmentType: ChangeInCapacity
      AutoScalingGroupName: { "Ref" : "AWSEBAutoScalingGroup" }
      PolicyType: SimpleScaling
      PolicyName: ScaleDownOnLowCPU
      ScalingAdjustment: -1
      Cooldown: 60

  CPUAlarmHigh:
    Type: "AWS::CloudWatch::Alarm"
    Properties:
      AlarmDescription: "Scale-up if CPU > 80% for 1 consecutive periods of 2 minutes"
      Namespace: "AWS/EC2"
      MetricName: "CPUUtilization"
      Dimensions:
        - Name: "AutoScalingGroupName"
          Value: {"Ref": "AWSEBAutoScalingGroup"}
      Statistic: "Average"
      Period: 120
      EvaluationPeriods: 1
      Threshold: 80
      ComparisonOperator: "GreaterThanOrEqualToThreshold"
      AlarmActions:
        - {"Ref": "ScaleUpOnHighCPU"}

  CPUAlarmLow:
    Type: "AWS::CloudWatch::Alarm"
    Properties:
      AlarmDescription: "Scale-down if CPU < 20% for 1 consecutive periods of 2 minutes"
      Namespace: "AWS/EC2"
      MetricName: "CPUUtilization"
      Dimensions:
        - Name: "AutoScalingGroupName"
          Value: {"Ref": "AWSEBAutoScalingGroup"}
      Statistic: "Average"
      Period: 120
      EvaluationPeriods: 1
      Threshold: 20
      ComparisonOperator: "LessThanOrEqualToThreshold"
      AlarmActions:
        - {"Ref": "ScaleDownOnLowCPU"}